@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

body {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    width: 100%;
}

#content {
    margin: 1rem 10rem;
    width: auto;
}

img {
    width: 100%;
}

.half {
    width: 50%;
    float: left;
}

img:hover {
    cursor: pointer;
}

a {
    color: #101020;
    text-decoration: none;
}

a:hover {
    color: #404080;
}

@media (pointer: none) {
    #content {
        margin: 0.5rem 0.5rem;
        width: auto;
    }
}