body {
    margin: 0 1rem;
    padding: 0 0 2rem 0;
    min-height: calc(100vh - 1rem);
    position: relative;
}

#content {
    max-width: min(80%, 50rem);
    margin: 1rem auto;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    color: #000;
}

img {
    width: 100%;
}

.half {
    width: 50%;
    float: left;
}

.figure {
    width: min(75%, 25rem);
    margin: auto;
    display: block;
}

img:hover {
    cursor: pointer;
}

.icon-text-list {
    list-style-type: none;
    padding-left: 0;
}

.icon-text-list li {
    margin-bottom: 0.25rem;
}

.icon-text-list i {
    margin-right: 0.5rem;
    width: 1rem;
}

.flex-profile {
    display: flex;
    align-items: center;
}

.profile-pic {
    margin: 1rem;
    flex: 0 1 40%;
    /* min-width: 10rem; */
}

.profile-pic img {
    width: 100%;
    height: auto;
    border-radius: 5%;
}

.about {
    flex: 1;
    margin: 1rem;
}

a {
    color: #4040A0;
    text-decoration: none;
}

a:hover {
    color: #606080;
}

code, pre {
    font-family:'Courier New', Courier, monospace;
    font-size: 95%;
    line-height: 140%;
}

@media (max-width: 60rem) {
    .flex-profile {
        flex-direction: column;
    }
    .about {
        flex: none;
        width: 100%;
        min-width: 0;
        margin: 0;
    }
    .profile-pic {
        width: max(50%, 20rem);
        flex: none;
        margin: 0;
        margin-top: 1rem;
    }
  }

.microblog-posts {
    margin-top: 2em;
}

.microblog-post {
    margin-bottom: 2em;
    padding-bottom: 2em;
    border-bottom: 1px solid #eee;
}

.microblog-post:last-child {
    border-bottom: none;
}

.microblog-post .post-date {
    color: #666;
    font-size: 0.9em;
    margin-bottom: 0.5em;
}

.microblog-post .post-content {
    line-height: 1.6;
}

.link-item {
    margin-bottom: 1.5em;
}

.link-item a {
    font-size: 1.1em;
    font-weight: 500;
}

.link-date {
    color: #666;
    font-size: 0.9em;
    margin-left: 0.5em;
}

.link-description {
    margin: 0.5em 0 0 0;
    color: #444;
    font-size: 0.95em;
}