@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

#content {
    margin: 1rem 10rem;
    font-family: 'Roboto Slab', serif;
}

img {
    width: 100%;
}

.half {
    width: 50%;
    float: left;
}

img:hover {
    cursor: pointer;
}

a {
    color: #101020;
    text-decoration: none;
}

a:hover {
    color: #404080;
}

@media only screen and (max-width: 768px) {
    #content {
        margin: 1rem 1rem;
    }
}